.listItem {
  list-style: none;
  font-size: 12px;
  padding-left: 0;
  padding-right: 0;
  line-height: 30px;
  color: #56687a;
  font-weight: 600;
}

.cont {
  padding-left: 15px;
  padding-right: 15px;
}

.yok {
  opacity: 0;
}

.yok:hover {
  opacity: 1;
  transform: scale(3);
  transition: 0.5s;
  cursor: pointer;
}
